standby_mode = 'on'
primary_conninfo = 'host=HOST_MASTER_IP port=PORT_PSQL_MASTER user=replication password=replication'
restore_command = 'cp PSQL_FOLDER/HOST_MASTER/%f %p'
archive_cleanup_command = 'PSQL_FOLDER/bin/pg_archivecleanup PSQL_FOLDER/HOST_MASTER %r'
trigger_file = 'PSQL_FOLDER/data/trigger'